.map-container {
  min-height: 600px;
  min-width: 600px;
  height: 70vh;
  width: 70vh;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 1px;
  margin: auto;
}

#map {
  height: 100%;
}

#input {
  min-width: 400px;
  width: 45vh;
  height: 1.25em;
  font-size: 1.75em;
}

.pac-item:hover {
  background-color: #84e184;
  opacity: 0.7;
}
