
.session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  flex-direction: column;
  padding: 0px 40px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 1px;
  margin: auto;
}

.form-item {
  padding: 10px;
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submission {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid #9AA2AE;
}

.session-input {
  width: 220px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 16px;
  padding: 6px 6px 6px
}

.errors-list {
  padding-left: 0px;
}

.session-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
}

.form-button {
   border: 1px solid #fff;
   color: #fff;
   border-radius: 1px;
   padding: 5px 5px;
   font-weight: 400;
   width: 240px;
   height: 36px;
   font-size: 13px;
}

.submit-button {
  border: 1px solid #fff;
  color: #fff;
  background-color: #529ECC;
  border-radius: 3px;
  padding: 5px 5px;
  font-weight: 400;
  width: 60px;
  height: 32px;
  left: 25px;
  font-size: 13px;
}

.submit-button:disabled {
  cursor: default;
  color: hsla(0,0%,100%,.5);
}

.buttons {
  display: flex;
  flex-direction: column;
}

.errors {
  color: #D63301;
  list-style-type: none;
}

.errors-list{
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
